.card{
    border: 1px solid black;
    padding: 20px;
}
.divForImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.poster{
    width: 350px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
}
