.sectionEditImg {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.btnDeleteImg{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}